.form-thanks-wrapper(data-thanks)
  .form-thanks
    <svg class="decor" width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="32" cy="32" r="32" fill="#E4E0DC"/>
    <path d="M46.9349 30.5938C46.978 31.0567 47 31.5258 47 32C47 40.2843 40.2843 47 32 47C23.7157 47 17 40.2843 17 32C17 23.7157 23.7157 17 32 17C34.3534 17 36.5803 17.542 38.5625 18.5079" stroke="#4E4647" stroke-width="2" stroke-linecap="round"/>
    <path d="M27.5 30.5L32 35L47.5 19.5" stroke="#4E4647" stroke-width="2" stroke-linecap="round"/>
    </svg>
    .dark-text-36 Дякуємо за звернення
    .dark-text-16 Ми зв’яжемось з вами через декілька хвилин
    .form-thanks-close(data-close-thanks).btn-style.link--hover-3
      .dark-text-20 Закрити
      +svg('arrow').svg

