.gallery-beckdrop2
  .gallery__big-swiper-wrapper
    .big-swiper_gallery2
      .swiper-wrapper
        .swiper-slide.gallery__swiper-slide
          img(src="./assets/images/gallery/2-1.jpg", alt="")
        .swiper-slide.gallery__swiper-slide
          img(src="./assets/images/gallery/2-2.jpg", alt="")
        .swiper-slide.gallery__swiper-slide
          img(src="./assets/images/gallery/2-3.jpg", alt="")
        .swiper-slide.gallery__swiper-slide
          img(src="./assets/images/gallery/2-4.jpg", alt="")
        .swiper-slide.gallery__swiper-slide
          img(src="./assets/images/gallery/2-5.jpg", alt="")
        .swiper-slide.gallery__swiper-slide
          img(src="./assets/images/gallery/2-6.jpg", alt="")
    .big-swiper-gallery__wrapper-button.swiper-btn-wrapper
      .big-swiper-gallery-swiper-left2.swiper-prev
        <svg width="100" height="132" viewBox="0 0 100 132" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_670_7445)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M84 16C92.8366 16 100 23.1635 100 32L100 100C100 108.837 92.8366 116 84 116L16.5 116C7.66345 116 0.50001 123.163 0.500009 132L0.500008 157.5C0.500008 166.337 -6.66344 173.5 -15.5 173.5L-34.5 173.5C-43.3365 173.5 -50.5 166.337 -50.5 157.5L-50.5 -26.5C-50.5 -35.3366 -43.3365 -42.5 -34.5 -42.5L-15.5 -42.5C-6.66343 -42.5 0.500017 -35.3366 0.500016 -26.5L0.500015 -4.34928e-06C0.500015 8.83654 7.66346 16 16.5 16L84 16Z" fill="white"/>
        </g>
        <defs>
        <clipPath id="clip0_670_7445">
        <rect width="100" height="132" fill="white" transform="matrix(-1 0 0 1 100 0)"/>
        </clipPath>
        </defs>
        </svg>
        +svg('arrow')
      .big-swiper-gallery-swiper-right2.swiper-next
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="132" viewBox="0 0 100 132" fill="none">
          <g clip-path="url(#clip0_833_5873)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 16C7.16344 16 -6.57142e-06 23.1635 -6.18516e-06 32L-3.21279e-06 100C-2.82653e-06 108.837 7.16344 116 16 116L83.5 116C92.3365 116 99.5 123.163 99.5 132L99.5 157.5C99.5 166.337 106.663 173.5 115.5 173.5L134.5 173.5C143.337 173.5 150.5 166.337 150.5 157.5L150.5 -26.5C150.5 -35.3366 143.337 -42.5 134.5 -42.5L115.5 -42.5C106.663 -42.5 99.5 -35.3366 99.5 -26.5L99.5 -4.34928e-06C99.5 8.83654 92.3365 16 83.5 16L16 16Z" fill="white"/>
          </g>
          <defs>
            <clipPath id="clip0_833_5873">
              <rect width="100" height="132" fill="white"/>
            </clipPath>
          </defs>
        </svg>
        +svg('arrow')
    .btn-close-gallery.js-close-big-gallery2(type="button")
      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.5 15.5L1.5 1.5M1.5 15.5L15.5 1.5L1.5 15.5Z" stroke-width="2"/>
      </svg>

