header.main.main--demo-2
  .content.content--demo-2
    .js-mobile-call
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M22.9993 17.4712V20.7831C23.0006 21.0906 22.9375 21.3949 22.814 21.6766C22.6906 21.9583 22.5096 22.2112 22.2826 22.419C22.0556 22.6269 21.7876 22.7851 21.4958 22.8836C21.2039 22.9821 20.8947 23.0187 20.5879 22.991C17.1841 22.6219 13.9145 21.4611 11.0418 19.6019C8.36914 17.9069 6.10319 15.6455 4.40487 12.9781C2.53545 10.0981 1.37207 6.81909 1.00898 3.40675C0.981336 3.10146 1.01769 2.79378 1.11572 2.50329C1.21376 2.2128 1.37132 1.94586 1.57839 1.71947C1.78546 1.49308 2.03749 1.31221 2.31843 1.18836C2.59938 1.06451 2.90309 1.0004 3.21023 1.00011H6.52869C7.06551 0.994834 7.58594 1.18456 7.99297 1.53391C8.4 1.88326 8.66586 2.36841 8.74099 2.89892C8.88106 3.9588 9.14081 4.99946 9.5153 6.00106C9.66413 6.39619 9.69634 6.82562 9.60812 7.23847C9.51989 7.65131 9.31494 8.03026 9.01753 8.33042L7.61272 9.73245C9.18739 12.4963 11.4803 14.7847 14.2496 16.3562L15.6545 14.9542C15.9552 14.6574 16.3349 14.4528 16.7486 14.3648C17.1622 14.2767 17.5925 14.3089 17.9884 14.4574C18.992 14.8312 20.0348 15.0904 21.0967 15.2302C21.6341 15.3058 22.1248 15.576 22.4756 15.9892C22.8264 16.4024 23.0128 16.9298 22.9993 17.4712Z" stroke="#5E4647" stroke-width="1.71429" stroke-linecap="round"/>
      </svg>
    .form-call(data-call-form)
      <svg class="tablet" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M22.9993 17.4712V20.7831C23.0006 21.0906 22.9375 21.3949 22.814 21.6766C22.6906 21.9583 22.5096 22.2112 22.2826 22.419C22.0556 22.6269 21.7876 22.7851 21.4958 22.8836C21.2039 22.9821 20.8947 23.0187 20.5879 22.991C17.1841 22.6219 13.9145 21.4611 11.0418 19.6019C8.36914 17.9069 6.10319 15.6455 4.40487 12.9781C2.53545 10.0981 1.37207 6.81909 1.00898 3.40675C0.981336 3.10146 1.01769 2.79378 1.11572 2.50329C1.21376 2.2128 1.37132 1.94586 1.57839 1.71947C1.78546 1.49308 2.03749 1.31221 2.31843 1.18836C2.59938 1.06451 2.90309 1.0004 3.21023 1.00011H6.52869C7.06551 0.994834 7.58594 1.18456 7.99297 1.53391C8.4 1.88326 8.66586 2.36841 8.74099 2.89892C8.88106 3.9588 9.14081 4.99946 9.5153 6.00106C9.66413 6.39619 9.69634 6.82562 9.60812 7.23847C9.51989 7.65131 9.31494 8.03026 9.01753 8.33042L7.61272 9.73245C9.18739 12.4963 11.4803 14.7847 14.2496 16.3562L15.6545 14.9542C15.9552 14.6574 16.3349 14.4528 16.7486 14.3648C17.1622 14.2767 17.5925 14.3089 17.9884 14.4574C18.992 14.8312 20.0348 15.0904 21.0967 15.2302C21.6341 15.3058 22.1248 15.576 22.4756 15.9892C22.8264 16.4024 23.0128 16.9298 22.9993 17.4712Z" stroke="#5E4647" stroke-width="1.71429" stroke-linecap="round"/>
      </svg>
      span.light-text-20 Замовити дзвінок
      +svg('arrow').svg
    a(href="tel: +38 (067) 224 06 06").tell.link--hover-5
      span.light-text-20 +38 (067) 224 06 06
    a(href="index.logo").header__logo
      <svg class="dark-logo" width="163" height="50" viewBox="0 0 163 50" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_506_2087)">
      <mask id="mask0_506_2087" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="2" y="44" width="160" height="6">
      <rect x="2.88477" y="44.2857" width="158.673" height="5.71429" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask0_506_2087)">
      <path d="M3.47266 44.4469H4.77639V46.6058H8.8674V44.4469H10.1711V50H8.8674V47.6074H4.77639V50H3.47266V44.4469Z" fill="#1D1D1B"/>
      <path d="M13.5093 48.6869V45.7601C13.5093 45.2593 13.6104 44.9143 13.8127 44.714C14.0038 44.536 14.3634 44.4469 14.9029 44.4469H19.0389C19.5784 44.4469 19.938 44.536 20.1291 44.714C20.3314 44.9032 20.4325 45.2593 20.4325 45.7601V48.6869C20.4325 49.1876 20.3314 49.5326 20.1291 49.7329C19.938 49.911 19.5784 50 19.0389 50H14.9029C14.3634 50 14.0038 49.911 13.8127 49.7329C13.6104 49.5437 13.5093 49.1876 13.5093 48.6869ZM14.813 48.9873H19.1176V45.4596H14.813V48.9873Z" fill="#1D1D1B"/>
      <path d="M30.0531 44.4469H31.0871V50H29.8958V46.5613C29.8958 46.3833 29.907 46.183 29.9408 45.9715C29.8396 46.2275 29.7272 46.4167 29.6148 46.5502L27.5019 49.3323H27.2434L25.1304 46.5391C24.9731 46.3388 24.8607 46.1496 24.7933 45.9715L24.827 46.5613V50H23.7593V44.4469H24.827L27.4682 47.8077L30.0531 44.4469Z" fill="#1D1D1B"/>
      <path d="M34.4253 44.4469H40.1685V45.3928H35.729V46.6281H38.314V47.574H35.729V48.9873H40.2246V50H34.4253V44.4469Z" fill="#1D1D1B"/>
      <path d="M47.9679 45.4485H49.0468L51.8229 50H50.5641L49.9909 48.9984H46.9451L46.372 50H45.248L47.9791 45.4485H47.9679ZM47.3722 48.1972H49.5414L48.4624 46.3054L47.3722 48.1972Z" fill="#1D1D1B"/>
      <path d="M54.318 45.4485L58.2067 48.4754V45.4485H59.2294V50H58.4539L54.5652 46.9285V50H53.5425V45.4485H54.318Z" fill="#1D1D1B"/>
      <path d="M61.8706 45.4485H64.9726C65.9054 45.4485 66.6022 45.6599 67.0743 46.0717C67.5126 46.4612 67.7374 47.0064 67.7374 47.7075C67.7374 48.353 67.5463 48.876 67.1754 49.2544C66.6922 49.7552 65.8605 50 64.6916 50H61.8706V45.4485ZM62.9833 49.1431H64.6579C65.4446 49.1431 65.9841 48.9762 66.2763 48.6423C66.4786 48.4086 66.5798 48.0859 66.5798 47.6519C66.5798 47.1622 66.4337 46.8061 66.1527 46.5724C65.8829 46.361 65.4896 46.2497 64.9726 46.2497H62.972V49.132L62.9833 49.1431Z" fill="#1D1D1B"/>
      <path d="M75.6387 44.4469H76.8974L80.1118 50H78.6395L77.9764 48.7981H74.4136L73.773 50H72.458L75.6387 44.4469ZM74.9531 47.7855H77.4369L76.2231 45.5264L74.9643 47.7855H74.9531Z" fill="#1D1D1B"/>
      <path d="M82.5171 44.4469H87.3724C87.7657 44.4469 88.0692 44.5248 88.2602 44.6806C88.4738 44.8475 88.5862 45.1369 88.5862 45.5152V46.7505C88.5862 47.1289 88.485 47.396 88.294 47.574C88.1029 47.7409 87.777 47.83 87.3274 47.83H83.8208V49.9889H82.5171V44.4358V44.4469ZM86.698 45.3928H83.8321V46.884H86.698C86.9116 46.884 87.0689 46.8507 87.1476 46.795C87.2375 46.7282 87.2937 46.6058 87.2937 46.4389V45.8268C87.2937 45.6599 87.2487 45.5486 87.1476 45.4707C87.0689 45.4151 86.9228 45.3817 86.698 45.3817V45.3928Z" fill="#1D1D1B"/>
      <path d="M93.2842 44.4469H94.5429L97.7573 50H96.285L95.6219 48.7981H92.0591L91.4185 50H90.1035L93.2842 44.4469ZM92.5986 47.7855H95.0824L93.8686 45.5264L92.6098 47.7855H92.5986Z" fill="#1D1D1B"/>
      <path d="M100.151 44.4469H104.995C105.411 44.4469 105.725 44.5248 105.917 44.6695C106.141 44.8476 106.254 45.1369 106.254 45.5153V46.8395C106.254 47.2068 106.153 47.4739 105.95 47.6519C105.759 47.8188 105.444 47.8967 104.995 47.8967H104.231L106.816 50H104.95L102.691 47.8967H101.466V50H100.162V44.4469H100.151ZM104.422 45.3928H101.455V46.9508H104.444C104.602 46.9508 104.714 46.9174 104.804 46.8618C104.894 46.795 104.95 46.6726 104.95 46.5057V45.8269C104.95 45.6599 104.905 45.5486 104.804 45.4707C104.736 45.4151 104.602 45.3817 104.422 45.3817V45.3928Z" fill="#1D1D1B"/>
      <path d="M112.087 45.4596V50H110.783V45.4596H108.209V44.4469H114.672V45.4596H112.098H112.087Z" fill="#1D1D1B"/>
      <path d="M123.135 44.4469H124.169V50H122.977V46.5613C122.977 46.3833 122.989 46.183 123.022 45.9715C122.921 46.2275 122.809 46.4167 122.696 46.5502L120.583 49.3323H120.325L118.212 46.5391C118.055 46.3388 117.942 46.1496 117.875 45.9715L117.909 46.5613V50H116.841V44.4469H117.909L120.55 47.8077L123.135 44.4469Z" fill="#1D1D1B"/>
      <path d="M127.507 44.4469H133.25V45.3928H128.811V46.6281H131.396V47.574H128.811V48.9873H133.306V50H127.507V44.4469Z" fill="#1D1D1B"/>
      <path d="M137.184 44.4469L141.129 47.7187C141.342 47.8856 141.556 48.097 141.769 48.3196L141.713 47.3626V44.4469H142.893V50H142.005L137.881 46.5613L137.791 46.4834C137.735 46.4389 137.667 46.3721 137.6 46.3054C137.532 46.2386 137.465 46.1718 137.409 46.1051L137.442 46.5613C137.442 46.5613 137.442 46.5947 137.442 46.6281C137.442 46.6615 137.442 46.6837 137.442 46.6949C137.442 46.7839 137.442 46.884 137.442 46.9842V49.9889H136.273V44.4358H137.161L137.184 44.4469Z" fill="#1D1D1B"/>
      <path d="M148.951 45.4596V50H147.647V45.4596H145.074V44.4469H151.536V45.4596H148.962H148.951Z" fill="#1D1D1B"/>
      <path d="M158.572 45.4596H154.908V46.6503H158.403C158.943 46.6503 159.313 46.7394 159.505 46.9174C159.707 47.1066 159.808 47.4182 159.808 47.83V48.8315C159.808 49.2321 159.707 49.5326 159.505 49.7218C159.313 49.8998 158.999 49.9889 158.572 49.9889H154.84C154.357 49.9889 154.031 49.8998 153.84 49.7218C153.638 49.5326 153.537 49.1765 153.537 48.6757V48.5533L154.694 48.3196V48.9762H158.662V47.6519H155.031C154.582 47.6519 154.267 47.5629 154.076 47.396C153.874 47.2068 153.773 46.8618 153.773 46.3388V45.7489C153.773 45.237 153.874 44.8809 154.076 44.6917C154.267 44.5248 154.582 44.4358 155.043 44.4358H158.426C158.92 44.4358 159.257 44.5248 159.46 44.714C159.651 44.9032 159.741 45.2148 159.741 45.6488V45.8157L158.583 46.0828V45.4485L158.572 45.4596Z" fill="#1D1D1B"/>
      </g>
      <path d="M42.4389 8.81373C44.0461 9.53707 45.2824 10.5498 46.1478 11.874C47.0132 13.1983 47.4515 14.7563 47.4515 16.5702C47.4515 18.3842 47.0132 19.9199 46.1478 21.2442C45.2824 22.5796 44.0461 23.6034 42.4389 24.3045C40.8317 25.0167 38.9435 25.3617 36.7632 25.3617H15.6337V32.0721H9.94678V7.73427H36.7744C38.9548 7.73427 40.8429 8.09038 42.4501 8.81373H42.4389ZM40.3484 19.6862C41.2363 18.9517 41.6859 17.9168 41.6859 16.5702C41.6859 15.2237 41.2363 14.1554 40.3484 13.4209C39.4605 12.6864 38.1568 12.3303 36.4485 12.3303H15.6337V20.7879H36.4485C38.1568 20.7879 39.4605 20.4207 40.3484 19.6973V19.6862Z" fill="#1D1D1B"/>
      <mask id="mask1_506_2087" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="49" y="7" width="21" height="26">
      <rect x="49.0444" y="7.14288" width="20.1947" height="25.7143" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask1_506_2087)">
      <path d="M69.2216 27.5651V32.0833H50.1826V7.73427H69.2216V12.2524H55.8359V17.5384H69.2216V21.923H55.8359V27.554H69.2216V27.5651Z" fill="#1D1D1B"/>
      </g>
      <mask id="mask2_506_2087" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="70" y="7" width="29" height="26">
      <path d="M70.6816 7.14288H98.0887L95.925 32.8572H70.6816V7.14288Z" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask2_506_2087)">
      <path d="M87.1703 23.4699V32.0944H81.4833V23.392L71.9639 7.73427H78.0105L84.5853 18.5511L91.1602 7.73427H96.746L87.1928 23.4587L87.1703 23.4699Z" fill="#1D1D1B"/>
      </g>
      <mask id="mask3_506_2087" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="96" y="7" width="38" height="26">
      <path d="M96.6465 7.14288H129.823L133.43 32.8572H96.6465V7.14288Z" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask3_506_2087)">
      <path d="M105.13 32.0944C103.579 30.1469 102.635 27.6875 102.635 25.0167C102.635 18.718 107.817 13.5878 114.178 13.5878C120.539 13.5878 125.72 18.718 125.72 25.0167C125.72 27.6875 124.788 30.1358 123.225 32.0944H130.092C131.07 29.9355 131.621 27.5429 131.621 25.0167C131.621 15.4685 123.81 7.73427 114.167 7.73427C104.524 7.73427 96.7124 15.4685 96.7124 25.0167C96.7124 27.5429 97.2631 29.9243 98.2409 32.0944H105.108H105.13Z" fill="#1D1D1B"/>
      </g>
      <mask id="mask4_506_2087" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="131" y="7" width="24" height="26">
      <path d="M131.266 7.14288H154.345V32.8572H131.987L131.266 7.14288Z" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask4_506_2087)">
      <path d="M139.499 12.3303H131.632V7.73427H153.065V12.3303H145.197V32.0944H139.51V12.3303H139.499Z" fill="#1D1D1B"/>
      </g>
      <path d="M161.555 38.5175H1.44463V1.44463H161.555V38.5175Z" stroke="#1D1D1B" stroke-width="2.88925"/>
      </g>
      <defs>
      <clipPath id="clip0_506_2087">
      <rect width="163" height="50" fill="white"/>
      </clipPath>
      </defs>
      </svg>
      <svg class="white-logo" width="163" height="50" viewBox="0 0 163 50" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_874_25)">
      <mask id="mask0_874_25" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="2" y="44" width="160" height="6">
      <rect x="2.88495" y="44.2857" width="158.673" height="5.71429" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask0_874_25)">
      <path d="M3.4729 44.4469H4.77663V46.6058H8.86765V44.4469H10.1714V50H8.86765V47.6074H4.77663V50H3.4729V44.4469Z" fill="white"/>
      <path d="M13.5093 48.6869V45.7601C13.5093 45.2593 13.6105 44.9143 13.8128 44.714C14.0039 44.536 14.3635 44.4469 14.903 44.4469H19.039C19.5784 44.4469 19.9381 44.536 20.1291 44.714C20.3314 44.9032 20.4326 45.2593 20.4326 45.7601V48.6869C20.4326 49.1876 20.3314 49.5326 20.1291 49.7329C19.9381 49.911 19.5784 50 19.039 50H14.903C14.3635 50 14.0039 49.911 13.8128 49.7329C13.6105 49.5437 13.5093 49.1876 13.5093 48.6869ZM14.8131 48.9873H19.1176V45.4596H14.8131V48.9873Z" fill="white"/>
      <path d="M30.0533 44.4469H31.0873V50H29.8959V46.5613C29.8959 46.3833 29.9072 46.183 29.9409 45.9715C29.8397 46.2275 29.7273 46.4167 29.6149 46.5502L27.502 49.3323H27.2435L25.1306 46.5391C24.9732 46.3388 24.8608 46.1496 24.7934 45.9715L24.8271 46.5613V50H23.7594V44.4469H24.8271L27.4683 47.8077L30.0533 44.4469Z" fill="white"/>
      <path d="M34.4252 44.4469H40.1684V45.3928H35.729V46.6281H38.3139V47.574H35.729V48.9873H40.2246V50H34.4252V44.4469Z" fill="white"/>
      <path d="M47.9683 45.4485H49.0473L51.8233 50H50.5646L49.9914 48.9984H46.9456L46.3724 50H45.2485L47.9796 45.4485H47.9683ZM47.3727 48.1972H49.5418L48.4628 46.3054L47.3727 48.1972Z" fill="white"/>
      <path d="M54.3184 45.4485L58.2071 48.4754V45.4485H59.2299V50H58.4544L54.5657 46.9285V50H53.5429V45.4485H54.3184Z" fill="white"/>
      <path d="M61.871 45.4485H64.973C65.9058 45.4485 66.6026 45.6599 67.0747 46.0717C67.513 46.4612 67.7378 47.0064 67.7378 47.7075C67.7378 48.353 67.5467 48.876 67.1758 49.2544C66.6925 49.7552 65.8608 50 64.692 50H61.871V45.4485ZM62.9836 49.1431H64.6583C65.445 49.1431 65.9845 48.9762 66.2767 48.6423C66.479 48.4086 66.5801 48.0859 66.5801 47.6519C66.5801 47.1622 66.434 46.8061 66.1531 46.5724C65.8833 46.361 65.4899 46.2497 64.973 46.2497H62.9724V49.132L62.9836 49.1431Z" fill="white"/>
      <path d="M75.6389 44.4469H76.8977L80.112 50H78.6397L77.9766 48.7981H74.4138L73.7732 50H72.4583L75.6389 44.4469ZM74.9533 47.7855H77.4372L76.2233 45.5264L74.9646 47.7855H74.9533Z" fill="white"/>
      <path d="M82.5172 44.4469H87.3725C87.7659 44.4469 88.0693 44.5248 88.2604 44.6806C88.4739 44.8475 88.5863 45.1369 88.5863 45.5152V46.7505C88.5863 47.1289 88.4851 47.396 88.2941 47.574C88.103 47.7409 87.7771 47.83 87.3275 47.83H83.8209V49.9889H82.5172V44.4358V44.4469ZM86.6981 45.3928H83.8322V46.884H86.6981C86.9117 46.884 87.069 46.8507 87.1477 46.795C87.2376 46.7282 87.2938 46.6058 87.2938 46.4389V45.8268C87.2938 45.6599 87.2489 45.5486 87.1477 45.4707C87.069 45.4151 86.9229 45.3817 86.6981 45.3817V45.3928Z" fill="white"/>
      <path d="M93.2842 44.4469H94.5429L97.7573 50H96.285L95.6219 48.7981H92.0591L91.4185 50H90.1035L93.2842 44.4469ZM92.5986 47.7855H95.0824L93.8686 45.5264L92.6098 47.7855H92.5986Z" fill="white"/>
      <path d="M100.151 44.4469H104.995C105.411 44.4469 105.726 44.5248 105.917 44.6695C106.142 44.8476 106.254 45.1369 106.254 45.5153V46.8395C106.254 47.2068 106.153 47.4739 105.951 47.6519C105.76 47.8188 105.445 47.8967 104.995 47.8967H104.231L106.816 50H104.95L102.691 47.8967H101.466V50H100.162V44.4469H100.151ZM104.422 45.3928H101.455V46.9508H104.445C104.602 46.9508 104.714 46.9174 104.804 46.8618C104.894 46.795 104.95 46.6726 104.95 46.5057V45.8269C104.95 45.6599 104.905 45.5486 104.804 45.4707C104.737 45.4151 104.602 45.3817 104.422 45.3817V45.3928Z" fill="white"/>
      <path d="M112.087 45.4596V50H110.783V45.4596H108.21V44.4469H114.672V45.4596H112.098H112.087Z" fill="white"/>
      <path d="M123.135 44.4469H124.169V50H122.978V46.5613C122.978 46.3833 122.989 46.183 123.023 45.9715C122.922 46.2275 122.809 46.4167 122.697 46.5502L120.584 49.3323H120.325L118.212 46.5391C118.055 46.3388 117.943 46.1496 117.875 45.9715L117.909 46.5613V50H116.841V44.4469H117.909L120.55 47.8077L123.135 44.4469Z" fill="white"/>
      <path d="M127.507 44.4469H133.25V45.3928H128.811V46.6281H131.396V47.574H128.811V48.9873H133.306V50H127.507V44.4469Z" fill="white"/>
      <path d="M137.184 44.4469L141.129 47.7187C141.342 47.8856 141.556 48.097 141.769 48.3196L141.713 47.3626V44.4469H142.893V50H142.005L137.881 46.5613L137.791 46.4834C137.735 46.4389 137.667 46.3721 137.6 46.3054C137.532 46.2386 137.465 46.1718 137.409 46.1051L137.442 46.5613C137.442 46.5613 137.442 46.5947 137.442 46.6281C137.442 46.6615 137.442 46.6837 137.442 46.6949C137.442 46.7839 137.442 46.884 137.442 46.9842V49.9889H136.274V44.4358H137.161L137.184 44.4469Z" fill="white"/>
      <path d="M148.951 45.4596V50H147.647V45.4596H145.074V44.4469H151.536V45.4596H148.962H148.951Z" fill="white"/>
      <path d="M158.572 45.4596H154.908V46.6503H158.403C158.943 46.6503 159.314 46.7394 159.505 46.9174C159.707 47.1066 159.808 47.4182 159.808 47.83V48.8315C159.808 49.2321 159.707 49.5326 159.505 49.7218C159.314 49.8998 158.999 49.9889 158.572 49.9889H154.84C154.357 49.9889 154.031 49.8998 153.84 49.7218C153.638 49.5326 153.537 49.1765 153.537 48.6757V48.5533L154.694 48.3196V48.9762H158.662V47.6519H155.032C154.582 47.6519 154.267 47.5629 154.076 47.396C153.874 47.2068 153.773 46.8618 153.773 46.3388V45.7489C153.773 45.237 153.874 44.8809 154.076 44.6917C154.267 44.5248 154.582 44.4358 155.043 44.4358H158.426C158.92 44.4358 159.257 44.5248 159.46 44.714C159.651 44.9032 159.741 45.2148 159.741 45.6488V45.8157L158.583 46.0828V45.4485L158.572 45.4596Z" fill="white"/>
      </g>
      <path d="M42.4386 8.81373C44.0458 9.53707 45.2821 10.5498 46.1475 11.874C47.0129 13.1983 47.4513 14.7563 47.4513 16.5702C47.4513 18.3842 47.0129 19.9199 46.1475 21.2442C45.2821 22.5796 44.0458 23.6034 42.4386 24.3045C40.8315 25.0167 38.9433 25.3617 36.7629 25.3617H15.6335V32.0721H9.94653V7.73427H36.7742C38.9545 7.73427 40.8427 8.09038 42.4499 8.81373H42.4386ZM40.3482 19.6862C41.2361 18.9517 41.6856 17.9168 41.6856 16.5702C41.6856 15.2237 41.2361 14.1554 40.3482 13.4209C39.4603 12.6864 38.1566 12.3303 36.4482 12.3303H15.6335V20.7879H36.4482C38.1566 20.7879 39.4603 20.4207 40.3482 19.6973V19.6862Z" fill="white"/>
      <mask id="mask1_874_25" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="49" y="7" width="21" height="26">
      <rect x="49.0443" y="7.14288" width="20.1947" height="25.7143" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask1_874_25)">
      <path d="M69.2213 27.5651V32.0833H50.1824V7.73427H69.2213V12.2524H55.8356V17.5384H69.2213V21.923H55.8356V27.554H69.2213V27.5651Z" fill="white"/>
      </g>
      <mask id="mask2_874_25" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="70" y="7" width="29" height="26">
      <path d="M70.6814 7.14288H98.0885L95.9248 32.8572H70.6814V7.14288Z" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask2_874_25)">
      <path d="M87.1701 23.4699V32.0944H81.4831V23.392L71.9636 7.73427H78.0102L84.5851 18.5511L91.1599 7.73427H96.7457L87.1925 23.4587L87.1701 23.4699Z" fill="white"/>
      </g>
      <mask id="mask3_874_25" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="96" y="7" width="38" height="26">
      <path d="M96.6461 7.14288H129.823L133.429 32.8572H96.6461V7.14288Z" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask3_874_25)">
      <path d="M105.13 32.0944C103.579 30.1469 102.635 27.6875 102.635 25.0167C102.635 18.718 107.816 13.5878 114.178 13.5878C120.539 13.5878 125.72 18.718 125.72 25.0167C125.72 27.6875 124.787 30.1358 123.225 32.0944H130.092C131.07 29.9355 131.621 27.5429 131.621 25.0167C131.621 15.4685 123.809 7.73427 114.166 7.73427C104.523 7.73427 96.712 15.4685 96.712 25.0167C96.712 27.5429 97.2628 29.9243 98.2405 32.0944H105.108H105.13Z" fill="white"/>
      </g>
      <mask id="mask4_874_25" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="131" y="7" width="24" height="26">
      <path d="M131.266 7.14288H154.345V32.8572H131.987L131.266 7.14288Z" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask4_874_25)">
      <path d="M139.499 12.3303H131.632V7.73427H153.065V12.3303H145.197V32.0944H139.51V12.3303H139.499Z" fill="white"/>
      </g>
      <path d="M161.555 38.5175H1.44463V1.44463H161.555V38.5175Z" stroke="white" stroke-width="2.88925"/>
      </g>
      <defs>
      <clipPath id="clip0_874_25">
      <rect width="163" height="50" fill="white"/>
      </clipPath>
      </defs>
      </svg>
    a(href="#").btn-3d
      span.light-text-20.desk Обрати квартиру
      span.light-text-20.tablet Квартири
      <svg class="svg-2" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.4 13.6H12.2M12.2 13.6V10.8M12.2 13.6V22H6.6M12.2 1H1V22H6.6M12.2 1V5.2M12.2 1H29V13.6H25.5M22 13.6H25.5M25.5 13.6V29H6.6V22" stroke-width="2" stroke-linecap="round"/>
      </svg>
    .hamburger.js-hover.link--hover-5
      span.light-text-20 Меню
      .hamburger__icon
        span
        span
        span
      .open-menu
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 15L1 1M1 15L15 1L1 15Z" stroke="#5E4647" stroke-width="2"/>
        </svg>

    .global-menu
      .global-menu__wrap
        .menu__item.global-menu__item.global-menu__item--demo-2
          a(href="index.html").menu__item-link Головна
          .marquee
            .marquee__inner-wrap
              .marquee__inner(aria-hidden="true")
                span Головна
                .marquee__img(style="background-image:url(./assets/images/header/1-1.png);")
                span Головна
                .marquee__img(style="background-image:url(./assets/images/header/1-2.png);")
                span Головна
                .marquee__img(style="background-image:url(./assets/images/header/1-3.png);")
                span Головна
                .marquee__img(style="background-image:url(./assets/images/header/1-1.png);")
                span Головна
                .marquee__img(style="background-image:url(./assets/images/header/1-2.png);")
                span Головна
                .marquee__img(style="background-image:url(./assets/images/header/1-3.png);")
                span Головна
                .marquee__img(style="background-image:url(./assets/images/header/1-1.png);")
                span Головна
                .marquee__img(style="background-image:url(./assets/images/header/1-2.png);")
                span Головна
                .marquee__img(style="background-image:url(./assets/images/header/1-3.png);")
        .menu__item.global-menu__item.global-menu__item--demo-2
          a(href="about.html").menu__item-link Про проект
          .marquee
            .marquee__inner-wrap
              .marquee__inner(aria-hidden="true")
                span Про проект
                .marquee__img(style="background-image:url(./assets/images/header/2-1.png);")
                span Про проект
                .marquee__img(style="background-image:url(./assets/images/header/2-2.png);")
                span Про проект
                .marquee__img(style="background-image:url(./assets/images/header/2-3.png);")
                span Про проект
                .marquee__img(style="background-image:url(./assets/images/header/2-1.png);")
                span Про проект
                .marquee__img(style="background-image:url(./assets/images/header/2-2.png);")
                span Про проект
                .marquee__img(style="background-image:url(./assets/images/header/2-3.png);")
                span Про проект
                .marquee__img(style="background-image:url(./assets/images/header/2-1.png);")
                span Про проект
                .marquee__img(style="background-image:url(./assets/images/header/2-2.png);")
                span Про проект
                .marquee__img(style="background-image:url(./assets/images/header/2-3.png);")
        .menu__item.global-menu__item.global-menu__item--demo-2
          a(href="#").menu__item-link Обрати квартиру
          .marquee
            .marquee__inner-wrap
              .marquee__inner(aria-hidden="true")
                span Обрати квартиру
                .marquee__img(style="background-image:url(./assets/images/header/3-1.png);")
                span Обрати квартиру
                .marquee__img(style="background-image:url(./assets/images/header/3-2.png);")
                span Обрати квартиру
                .marquee__img(style="background-image:url(./assets/images/header/3-3.png);")
                span Обрати квартиру
                .marquee__img(style="background-image:url(./assets/images/header/3-1.png);")
                span Обрати квартиру
                .marquee__img(style="background-image:url(./assets/images/header/3-2.png);")
                span Обрати квартиру
                .marquee__img(style="background-image:url(./assets/images/header/3-3.png);")
                span Обрати квартиру
                .marquee__img(style="background-image:url(./assets/images/header/3-1.png);")
                span Обрати квартиру
                .marquee__img(style="background-image:url(./assets/images/header/3-2.png);")
                span Обрати квартиру
                .marquee__img(style="background-image:url(./assets/images/header/3-3.png);")
        .menu__item.global-menu__item.global-menu__item--demo-2
          a(href="gallery.html").menu__item-link Галерея
          .marquee
            .marquee__inner-wrap
              .marquee__inner(aria-hidden="true")
                span Галерея
                .marquee__img(style="background-image:url(./assets/images/header/4-1.png);")
                span Галерея
                .marquee__img(style="background-image:url(./assets/images/header/4-2.png);")
                span Галерея
                .marquee__img(style="background-image:url(./assets/images/header/4-3.png);")
                span Галерея
                .marquee__img(style="background-image:url(./assets/images/header/4-1.png);")
                span Галерея
                .marquee__img(style="background-image:url(./assets/images/header/4-2.png);")
                span Галерея
                .marquee__img(style="background-image:url(./assets/images/header/4-3.png);")
                span Галерея
                .marquee__img(style="background-image:url(./assets/images/header/4-1.png);")
                span Галерея
                .marquee__img(style="background-image:url(./assets/images/header/4-2.png);")
                span Галерея
                .marquee__img(style="background-image:url(./assets/images/header/4-3.png);")
        .menu__item.global-menu__item.global-menu__item--demo-2
          a(href="news.html").menu__item-link Новини та акції
          .marquee
            .marquee__inner-wrap
              .marquee__inner(aria-hidden="true")
                span Новини та акції
                .marquee__img(style="background-image:url(./assets/images/header/5-1.png);")
                span Новини та акції
                .marquee__img(style="background-image:url(./assets/images/header/5-2.png);")
                span Новини та акції
                .marquee__img(style="background-image:url(./assets/images/header/5-3.png);")
                span Новини та акції
                .marquee__img(style="background-image:url(./assets/images/header/5-1.png);")
                span Новини та акції
                .marquee__img(style="background-image:url(./assets/images/header/5-2.png);")
                span Новини та акції
                .marquee__img(style="background-image:url(./assets/images/header/5-3.png);")
                span Новини та акції
                .marquee__img(style="background-image:url(./assets/images/header/5-1.png);")
                span Новини та акції
                .marquee__img(style="background-image:url(./assets/images/header/5-2.png);")
                span Новини та акції
                .marquee__img(style="background-image:url(./assets/images/header/5-3.png);")
        .menu__item.global-menu__item.global-menu__item--demo-2
          a(href="construction.html").menu__item-link Хід будівництва
          .marquee
            .marquee__inner-wrap
              .marquee__inner(aria-hidden="true")
                span Хід будівництва
                .marquee__img(style="background-image:url(./assets/images/header/6-1.png);")
                span Хід будівництва
                .marquee__img(style="background-image:url(./assets/images/header/6-2.png);")
                span Хід будівництва
                .marquee__img(style="background-image:url(./assets/images/header/6-3.png);")
                span Хід будівництва
                .marquee__img(style="background-image:url(./assets/images/header/6-1.png);")
                span Хід будівництва
                .marquee__img(style="background-image:url(./assets/images/header/6-2.png);")
                span Хід будівництва
                .marquee__img(style="background-image:url(./assets/images/header/6-3.png);")
                span Хід будівництва
                .marquee__img(style="background-image:url(./assets/images/header/6-1.png);")
                span Хід будівництва
                .marquee__img(style="background-image:url(./assets/images/header/6-2.png);")
                span Хід будівництва
                .marquee__img(style="background-image:url(./assets/images/header/6-3.png);")

        .menu__item.global-menu__item.global-menu__item--demo-2
          a(href="contacts.html").menu__item-link Контакти
          .marquee
            .marquee__inner-wrap
              .marquee__inner(aria-hidden="true")
                span Контакти
                .marquee__img(style="background-image:url(./assets/images/header/7-1.png);")
                span Контакти
                .marquee__img(style="background-image:url(./assets/images/header/7-2.png);")
                span Контакти
                .marquee__img(style="background-image:url(./assets/images/header/7-3.png);")
                span Контакти
                .marquee__img(style="background-image:url(./assets/images/header/7-1.png);")
                span Контакти
                .marquee__img(style="background-image:url(./assets/images/header/7-2.png);")
                span Контакти
                .marquee__img(style="background-image:url(./assets/images/header/7-3.png);")
                span Контакти
                .marquee__img(style="background-image:url(./assets/images/header/7-1.png);")
                span Контакти
                .marquee__img(style="background-image:url(./assets/images/header/7-2.png);")
                span Контакти
                .marquee__img(style="background-image:url(./assets/images/header/7-3.png);")
    svg.shape-overlays(viewBox="0 0 100 100" preserveAspectRatio="none")
      path.shape-overlays__path
      path.shape-overlays__path
      path.shape-overlays__path
      path.shape-overlays__path
